.host_van_container{
    padding: 25px;
}

.host_van_container > a{
    color: rgb(37, 37, 213);
    display: flex;
    gap: 22px;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: none;
    transition:
        box-shadow 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
        transform 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.host_container{
    padding: 15px 35px;
    margin: 0px;
}

.host_container > img{
    width: 25%;
    border-radius: 15px;
}

.host_div > h3{
    margin-bottom: 8px;
    margin-top: 5px;
}

.host_div > p{
    margin: 0;
    padding: 5px;
}

@media (width < 700px) {
    .host_container > img{
        width: 35%;
    }
}

@media (width < 575px) {
    .host_container > img{
        width: 35%;
    }
}

@media (width < 399px){
    .host_van_container > a{
        display: grid;
        grid-template-rows: 1fr;
        justify-content: center;
    }

    .host_container{
        display: flex;
        justify-items: center;
    }

    .host_container > img{
        width: 55%;
    }
}

@media (hover: hover){
    .host_van_container > a:hover{
        box-shadow: 0 0 2px 2px hsl(34, 9%, 69%);
        transform: translateY(2px)
    }
}