form{
    padding: 30px;
    max-width: 1024px;
}

label{
    font-weight: 500;
}

input{
    display: block;
    margin-inline-start: 26px;
    margin-block: 12px;
    outline: 2px solid hsl(0, 0%, 40%);
    width: 75%;
    padding: 8px;
    border-radius: 15px;
    outline-offset: 2px;
    border: none;
    background-color: #f0f0f0;;
    color: #2b2b2b;
    transition: outline 250ms cubic-bezier(0.14, 1, 0.86, 0);
}

input:user-valid, input:focus:valid{
    outline-color: hsl(120, 55%, 45%);
}

input:user-invalid{
    outline-color: hsl(0, 100%, 76%);
}

input:focus:invalid{
    outline-color: hsl(32, 99%, 65%);
}

.center{
    text-align: center;
}

.login_button{
    width: 100%;
    padding: 12px;
    background-color: #FF8C38;
    border-radius: 20px;
    box-shadow: 0 1px 2px 0 #0000000D;
    color: #fff;
    margin-top: 14px;
    font-weight: 400;
    transition:
        background-color 250ms cubic-bezier(0.165, 0.84, 0.44, 1),
        color 250ms ease-in,
        font-weight 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.create_account{
    margin-block-end: 23px;
}

.create_account > a{
    color: hsl(0, 100%, 65%);
}

@media (hover: hover){
    .login_button:hover{
        background-color: hsla(0, 0%, 97%, 0.985);
        color: #FF8C38;
        font-weight: 500;
    }

    .create_account > a:hover{
        text-decoration: underline;
    }
}

@media (width < 576px){
    form{
        padding: 5%;
    }

    input{
        margin-left: 7%;
        width: 85%;
        padding: 2%;
        margin-block: 15px;
    }

    .create_account > a{
        display: block;
    }
}

@media (width > 1024px){
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100%;
    }

    .login_button{
        width: 50%;
    }
}