@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font-size-0: 1rem;
    --font-size-1: 1.1rem;
    --font-size-2: 1.325rem;
    --font-size-3: 1.7rem;
    --font-size-4: 2.25rem;

    --font-size-m-0: 0.675rem;
    --font-size-m-1: 0.8rem;
    --font-size-m-2: 1rem;
    --font-size-m-3: 1.2rem;
    --font-size-m-4: 1.7rem;

    --font-size-m-m-4: 1.5rem;

    --font-size-m1-1: 0.75rem;
    --font-size-m1-2: 0.89rem;
    --font-size-m1-3: 1.15rem;
    --font-size-m1-4: 1.54rem;

    --font-size-m-m1-4: 1.5rem;

    --white: hsl(0, 23%, 97%);
    --background-color: hsl(37deg 100% 98.18% / 95%);
    --brand-color: #6614ad;
    --nav-hover-color: #8C2155;
    --nav-hover-box-shadow-color: #a6b1d1;
    --blackish: #01161e;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Hanken Grotesk';
    background-color: hsl(280, 2%, 66%);
    margin: 0;
    padding: 4px;
}

nav{
    background-color: hsl(40deg, 73%, 97%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.8rem;
    border-bottom: 1px solid rgb(154, 153, 153);
}

main{
    background-color: var(--background-color);
}

button{
    font-family: inherit;
    cursor: pointer;
    border: none;
}

h1{
    margin: 0;
    padding: 15px;
}

p{
    padding: 15px 20px;
    margin: 0;
}

a, a:visited{
    text-decoration: none;
    font-size: var(--font-size-2);
    color: rgb(85, 26, 139);
    padding: 4px;
}

input{
    font-family: inherit;
    border: none;
}

.font-big{
    font-size: var(--font-size-4);
}

.font-semi-big{
    font-size: var(--font-size-3);
}

.font-medium{
    font-size: var(--font-size-2);
}

.font-small{
    font-size: var(--font-size-1);
}

.font-very-small{
    font-size: var(--font-size-0);
}

.a-blue, a.a-blue:visited{
    color: rgb(37, 37, 213);
}

.red{
    color: hsl(329, 61%, 45%)
}

.violet{
    color: #5b1599;
}

.outline-set{
    outline-offset: -0.125rem;
    outline-style: solid;
    outline-color: transparent;
}

.weight-500{
    font-weight: 500;
}

.type_button{
    color: #FFEAD0;
    width: 85px;
    border-radius: 6px;
    padding: 8px 20px;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.epunda-slab{
    font-family: 'Epunda Slab';
    letter-spacing: 0.015em;
}

@media (width < 576px) {
    nav{
        display: grid;
        grid-template-rows: 1fr;
        justify-content: center;
        height: 135px;
    }

    a, a:visited{
        text-align: center;
    }

    .type_button{
        font-size: var(--font-size-m-1);
        width: 25%;
    }

    .font-big{
        font-size: var(--font-size-m-4);
    }
    
    .font-semi-big{
        font-size: var(--font-size-m-3);
    }
    
    .font-medium{
        font-size: var(--font-size-m-2);
    }
    
    .font-small{
        font-size: var(--font-size-m-1);
    }
    
    .font-very-small{
        font-size: var(--font-size-m-0);
    }
}

@media (width < 375px){
    .font-big{
        font-size: var(--font-size-m-m-4);
    }
}

@media (575px < width < 708px){
    .font-big{
        font-size: var(--font-size-m1-4);
    }

    .font-semi-big{
        font-size: var(--font-size-m1-3);
    }
    
    .font-medium{
        font-size: var(--font-size-m1-2);
    }
    
    .font-small{
        font-size: var(--font-size-m1-1);
    }
    
    .font-very-small{
        font-size: var(--font-size-m-0);
    }
}

@media (hover: hover){
    nav > a:hover,
    nav > section > a:hover{
        text-decoration: underline;
    }
}

/* For the settings icon */
.small_size{
    width: 30%;
    transition: transform 350ms ease-in-out;
}

.small_size.reverse{
    transform: rotate(180deg);
}